# Getting and Knowing your Data

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
address = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [3]:
# Notice that it is a tab-separated file
chipo =  pd.read_csv(address, sep = '\t')

### Step 4. See the first 10 entries, understand what you have in the data set.

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
#print chipo.shape[0]
print len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [6]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [7]:
chipo.columns

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. Print the index of the dataset

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which is the most common item in the ``item_name`` column?

In [9]:
chipo['item_name'].value_counts().idxmax()

'Chicken Bowl'

### Step 10. How many different items appear in the dataset?

In [10]:
chipo['item_name'].nunique()

50

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
chipo['choice_description'].value_counts().idxmax()

'[Diet Coke]'

### Step 12. How many items were ordered in total?

In [12]:
chipo['quantity'].sum()

4972L

### Step 13. How much was the revenue for the period in the dataset?

In [13]:
# Hint: To transform the price column into a column of floats:
# slice each string to get rid of the $ symbol and then use strip() method to get rid of any space
# finaly use float() to transform the string into a float, you can use list comprehensions with Pandas Series
chipo['price'] = pd.Series([float(x.replace('$','').strip()) for x in chipo['item_price']])
chipo['total'] = chipo['price'] * chipo['quantity']
chipo['total'].sum()

39237.020000000055

In [16]:
total_revenue =  chipo['total'].sum()

### Step 14. How many orders were made in the period?

In [17]:
total_orders = chipo['order_id'].nunique()
total_orders

1834

### Step 15. What is the average amount per order?

In [18]:
# This will be total revenue/number  of orders
total_revenue / total_orders

21.3942311886587